<%- include('includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/shop.css">

<%- include('includes/navigation.ejs') %> 
    <main>
        <h2>Meus produtos</h2>
        <p>Lista de produtos</p>

        <% if (prods.length > 0) { %>
            <ul>
                <% for (let product of prods) { %> 
                    <li><%= product.productName %> </li>
                <% } %> 
            </ul>
        <% } else { %>
            <p>Sem produtos para exibir</p>       
        <% } %> 

        <h2>Usuários</h2>
        <p>Lista de Usuário</p>
        <% if(users.length > 0) { %>
            <ul>
                <% for (let user of users) { %>
                    <li><%= user.userName %> </li>    
                <% } %> 
            </ul>
        <% } else { %>
            <p>Sem usuário para exibir</p>
        <% } %> 
    </main>
<%- include('includes/footer.ejs') %> 